body {
  font-family: 'Shadows Into Light', cursive;
  background-color: black;
  background-image: linear-gradient(to right, black, grey);
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  text-align: left;
  width: 400px;
  border-bottom: 2px solid white;
}

h3 {
  font-size: 25px;
}

p {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin-top: 10px;
}

.hide {
  display: none;
}

header {
  margin: 30px;
  text-align: center;
}

#main-content {
  display: flex;
}

nav {
  position: relative;
  display: flex;
  flex: 0 0 15%;
  align-items: center;
  justify-content: center;
}

nav ul {
  align-items: center;
}

nav ul li {
  font-size: 30px;
  margin-top: 20px;
  color: yellow;
}

nav ul li a {
  color: white;
}

#portfolio-content {
  flex-wrap: wrap;
  text-align: center;
}

section {
  margin: 10px;
  /* height: 500px; */
  border: blue solid 2px;
}

#bio-section {
  /* text-align: center; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}

#me-image {
  float: right;
  border-radius: 50%;
  margin: 25px;
  height: 250px;
  width: 250px;
  /* justify-content: flex-end; */
}

.projects {
  display: inline-flex;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  border: solid 2px red;
}

.contact-links {
  margin-top: 15px;
}

.contact-links li {
  display: inline;
  font-size: 20px;
  margin-right: 15px;
}
