body {
  font-family: 'Shadows Into Light', cursive;
  background-color: black;
  background-image: linear-gradient(
    to right,
    rgb(92, 34, 126),
    rgb(17, 229, 236)
  );
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  text-align: left;
  width: 400px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

h3 {
  font-size: 25px;
}

p {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin-top: 10px;
}

a {
  color: white;
}

.hide {
  display: none;
}

header {
  margin: 30px;
  text-align: center;
}

#main-content {
  display: flex;
}

nav {
  position: relative;
  display: flex;
  flex: 0 0 15%;
  justify-content: center;
}

nav ul {
  position: fixed;
  align-items: center;
}

nav ul li {
  font-size: 30px;
  margin-top: 20px;
}

nav ul li a {
  color: white;
}

#portfolio-content {
  flex-wrap: wrap;
  text-align: center;
}

section {
  margin: 10px;
  /* height: 500px; */
  height: 100%;
}

#bio-section {
  /* text-align: center; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}

#me-image {
  float: right;
  border-radius: 50%;
  margin: 25px;
  height: 250px;
  width: 250px;
  /* justify-content: flex-end; */
}

.projects {
  margin: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  height: 600px;
  width: 500px;
}

.card {
  padding: 20px;
  border-radius: 15%;
  margin: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-content {
  padding: 150px;
  color: white;
}

.project-content {
  color: white;
}

.card-image {
  height: 400px;
  width: 400px;
  border-radius: 15%;
}

/* card-links {
  display: ;
} */

.contact-links {
  margin-top: 50px;
}

.contact-links li {
  display: inline;
  font-size: 25px;
  margin-right: 15px;
}

.contact-links li a {
  color: white;
}

.fa {
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
    width: 200px;
  }

  #main-content {
    flex-direction: column;
  }
  nav {
    /* top: 0; */
    /* position: fixed; */
    /* display: inline-block; */
    height: 100px;
    /* flex: 0 0 75%; */
    /* margin: 0 5% 0 5%; */
    /* border: 1px solid red; */
    align-items: flex-end;
    /* justify-content: space-around; */
  }
  nav ul {
    /* top: 0%; */
    position: relative;
    display: flex;
    flex: auto;
    /* align-content: flex-start; */
    justify-content: space-around;
  }
  nav ul li {
    /* top: 0; */
    /* margin-right: 10px; */
    /* justify-content: space-around; */
  }
  #portfolio-content {
    margin-top: 25px;
    display: flex;
  }
  /* ----------------- */

  /* section {
    margin: 10px;
    height: 500px;
    height: 100%;
  } */

  /* #bio-section { */
  /* text-align: center; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* } */

  /* #me-image { */
  /* float: right;
    border-radius: 50%;
    margin: 25px;
    height: 250px;
    width: 250px; */
  /* justify-content: flex-end; */
  /* } */

  /* .projects {
    margin: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    height: 600px;
    width: 200px;
  } */

  /* .card {
    padding: 20px;
    border-radius: 15%;
    margin: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  } */

  /* .card-content {
    padding: 150px;
    color: white;
  } */

  /* .project-content {
    color: white;
  } */

  /* .card-image {
    height: 40px;
    width: 40px;
    border-radius: 15%;
  } */

  /* card-links {
  display: ;
} */
  /* 
  .contact-links {
    margin-top: 50px;
  } */

  /* .contact-links li {
    display: inline;
    font-size: 25px;
    margin-right: 15px;
  } */

  /* .contact-links li a {
    color: white;
  } */

  /* .fa {
    margin-right: 5px;
  } */
}

@media screen and (max-width: 600px) {
  p {
    font-family: 'Kalam', cursive;
    font-size: 20px;
    margin-top: 10px;
  }

  section {
    width: 100%;
    margin: 0px;
  }

  /* #bio-section { */
  /* text-align: center; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* } */

  #me-image {
    float: none;
  }

  .projects {
    margin: 10px auto;
    display: inline-flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
  }

  .card {
    padding: 0px;
    /* width: 100%; */
    border-radius: 5%;
    margin: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card-content {
    padding: 10px;
    color: white;
  }

  .project-content {
    color: white;
  }

  .card-image {
    height: 280px;
    width: 280px;
    border-radius: 15%;
  }

  /* card-links {
  display: ;
} */

  .contact-links {
    margin-top: 50px;
  }

  .contact-links li {
    display: inline;
    font-size: 25px;
    margin-right: 15px;
  }

  .contact-links li a {
    color: white;
  }

  .fa {
    margin-right: 5px;
  }
}
