* {
  font-family: 'Shadows Into Light', cursive;
  background-color: black;
  color: white;
  /* display: flex; */
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

p,
a {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin-top: 10px;
}

header {
  margin: 30px;
  text-align: center;
}

section {
  display: flex;
}

nav {
  position: relative;
  margin: 50px;
}

#main-content {
  /* display: flex; */
}

.card {
}
